header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ece0d1;
    background-color: #dbc1ac;
    padding-left: 3rem;
    padding-right: 3rem;
}

nav a {
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #634832;
}