.prod-card {
    width: 20vw;
    border-radius: 15px;
    border: solid 2px black;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: 	#e3e4e6;
}